<h1>Home</h1>

<%= image_tag 'user.png' %>

<%= link_to 'add new rpn result', new_rpn_path %>
<br/>

<% @rpns.each do |rpn| %>
  <br/><br/><br/>
  <%= rpn.input %>
  <br/>
  <%= "Which evaluates to #{rpn.answer}." %>
  <br/><br/>  
<% end %>
